<table class="table">
			<thead>
				<tr>
					<th>תאריך</th>
					<th>תפקיד</th>
					<th>משמרת בוקר</th>
					<th>משמרת צהריים</th>
					<th>משמרת לילה</th>
					<th>חופש</th>
					<th>חופש ללא תשלום</th>
					<th>חופש מחלה</th>
					<th>מילואים</th>
					<th>הדרכה</th>
					<th>שונות</th>
				</tr>
			</thead>

			<tbody>
				<tr>
				<td> date </td>
				<td><ul>
					<li>מנהל משמרת</li>
					<li>לווח</li>
					<li>1100</li>
					<li>מעבדה</li>
					<li>טכני</li>
					<li>פרילינג</li>
					</ul>
				</td>
				<td>d</td>
				<td>f</td>
				<td>g</td>
				<td>j</td>
				<td>j</td>
				<td>m</td>
				<td>m</td>
				<td> b</td>
				<td>y</td>
					
				
				</tr>
			</tbody>
		</table>