<table class="table table-bordered">
	<thead>
		<tr class="header">
			<th>משמרת</th><th>שם</th><th>מנהל משמרת</th><th>לווח</th><th>מפעיל 1100</th><th>מעבדה</th><th>פרילינג</th><th>טכני</th><th>מפקח אריזה</th>
		</tr>
		<tbody ng-controller="workersList">
			<tr><td>1</td><td>{{name[0]}}</td><td><input /></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
			<tr><td>1</td><td>{{name[1]}}</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
			<tr><td>1</td><td>{{name[2]}}</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
			<tr><td>1</td><td>{{name[3]}}</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
			<tr><td>1</td><td>{{name[4]}}</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
			<tr><td>1</td><td>{{name[5]}}</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
			<tr><td>1</td><td>{{name[6]}}</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
			<tr><td>2</td><td>{{name[7]}}</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
			<tr><td>2</td><td>{{name[8]}}</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
			<tr><td>2</td><td>{{name[9]}}</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
			<tr><td>2</td><td>{{name[10]}}</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
			<tr><td>2</td><td>{{name[11]}}</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
			<tr><td>2</td><td>{{name[12]}}</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
			<tr><td>2</td><td>{{name[13]}}</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
			<tr><td>3</td><td>{{name[14]}}</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
			<tr><td>3</td><td>{{name[15]}}</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
			<tr><td>3</td><td>{{name[16]}}</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
			<tr><td>3</td><td>{{name[17]}}</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
			<tr><td>3</td><td>{{name[18]}}</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
			<tr><td>3</td><td>{{name[19]}}</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
			<tr><td>3</td><td>{{name[20]}}</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
			<tr><td>4</td><td>{{name[21]}}</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
			<tr><td>4</td><td>{{name[22]}}</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
			<tr><td>4</td><td>{{name[23]}}</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
			<tr><td>4</td><td>{{name[24]}}</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
			<tr><td>4</td><td>{{name[25]}}</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
			<tr><td>4</td><td>{{name[26]}}</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
			<tr><td>4</td><td>{{name[27]}}</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
			
		</tbody>
	</thead>
</table>